body {
	background-color : #e0e0e0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.brand-logo {
	padding-left : 10px !important;
}

.member {
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.membertext {
  padding-top: 8px !important;
}

.radioAjout {
	padding-left: 10px !important;
}

main {
		flex: 1 0 auto;
}
